<div style="border: solid 1px gray; padding: 15px;">
  <h1>Parent Component</h1>
  <span><b>Value emitted from child component is:</b></span> 

  <!-- Two slightly different forms. [] for properties, () for events-->
  <!-- Passing the property, we can just pass the function name and it gets evaluated -->
  <!-- Passing the event, we provide a string of JS that we call -->
  <!-- Note that technically both are evaluated! Think this through. -->
  <app-child [callParent]="callFromChild"></app-child>

  <app-child2 (callParentEvent)="callFromChild2($event)"></app-child2>

</div>
